* {
    margin: 0;
    padding: 0;
    transition: 0.25s;
    box-sizing: border-box;
}
section {
    gap: 20px;
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
html body section.dark {
    background-color: rgb(0, 0, 0);
}
html body section.dark p {
    color: white;
}
p {
    color: rgb(0, 0, 0);
    /* cursor: none; */
    font-size: 10rem;
    padding: 10px 20px;
}